@import url('https://fonts.googleapis.com/css?family=poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;

}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 15px;
}

header ul li a:hover{
    background-color: #fff;
    color: #2b1055;

}
header ul li a:hover
header ul li a:active{
    background: #fff;
    color: #2b1055;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522,transparent);
    z-index: 1000;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon{
    mix-blend-mode: screen;
}
section img#mountain_front{
    z-index: 10;
}

#text{
    position: absolute;
    right: -350px;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
   
}

#btn{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 30px;
    background: #fff;
    display: inline-block;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec{
    position: relative;
    padding: 100px, 18%;
    background: #1c0522;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;

}

.home-text h1{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
    margin-left: 200px;
    color: whitesmoke;
}

.home-text h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
    margin-left: 200px;
    color: whitesmoke;
}

span{
    color: orange;
}

.home-text h3{
    color: orange;
    font-size: 20px;
    font-weight: 500;
    margin-left: 200px;
}
.home-text p{
    font-size:var(--p-font);
    color: whitesmoke;
    line-height: 28px;
    margin-bottom: 20px;
    margin-left: 200px;
}
.social{
    margin-left: 200px;
}
.social a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #7597de;
    font-size: 17px;
    color: #fff;
    margin-right: 22px;
    margin-bottom: 30px;
   
}

.social a:hover{
    transform: scale(1.1);
    background: orange;
    transition: 0.5s;
}

.home-img img{
    max-width: 100%;
    width: 440px;
    height: auto;
    margin-left: 850px;
    margin-top: 90px;
}
.btn{
    display: inline-block;
    color: whitesmoke;
    background: orange;
    padding: 10px 40px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 10px;
    transform: ease 0.4s;
    margin-left: 200px;
    text-decoration: none;
}
.btn:hover{
    transform: scale(1.1);
}
.second{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 100px, 18%;
    background: #62087d;
    
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
}
.about h1{
    font-size: 2.7rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(16, 3, 3);
    margin-top: -200px;
}
.about .text p{
  display: flex; 
  font-size:16px;
  color: whitesmoke;
  line-height: 28px;
  margin-bottom: 20px;
 
  text-align: center;
}
.project{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 100px, 18%;
    background:rgba(245, 245, 245, 0.76);
   
}

.project-h{
    display: flex;
    flex-direction: column;
}
.project-h h3{
    font-size: 2.7rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    
}
.project-h span{
    margin-top: -300px;
    color: orange;
}
.project-i{
    padding: 20px 40px 0px 20px;
}
.project-i img{
    margin-left: 120px;
    margin-top: -110px;
    width: 400px;
    border-radius: 10px;
}
.project-i p{
    font-size: 20px;
    margin-left: 550px;
    margin-right: 50px;
    margin-top: -250px;
    text-align: center;
}
.skills{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 100px, 18%;
    background:rgba(141, 175, 208, 0.968);
}
.skills-h{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
}
.skills-h h3{
    font-size: 2.7rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    
}
.skills-h span{
    margin-top: -300px;
    color: rgba(235, 230, 98, 0.755);
}

.contact{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 100px, 18%;
    background:rgba(141, 175, 208, 0.968);
}

:root {
    --primary-color: #010712;
    --secondary-color: #818386;
    --bg-color: #FCFDFD;
    --button-color: #3B3636;
    --h1-color: #3F444C;
  }
  
  [data-theme="dark"] {
    --primary-color: #FCFDFD;
    --secondary-color: #818386;
    --bg-color: #010712;
    --button-color: #818386;
    --h1-color: #FCFDFD;
  }
  
  * {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }
  
  .contact-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
  }
  
  .left-col {
    width: 45vw;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/931018/pexels-photo-931018.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .logo {
    width: 10rem;
    padding: 1.5rem;
  }
  
  .right-col {
    background: var(--bg-color);
    width: 50vw;
    height: 100vh;
    padding: 5rem 3.5rem;
  }
  
  h1, label, button, .description {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }
  
  h1 {
    color:var(--h1-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
  }
  
  p {
    color: var(--secondary-color);
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
  }
  
  label, .description {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 0.625rem;
  }
  
  form {
    width: 31.25rem;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
  }
  
  input, textarea, label {
    width: 40vw;
    display: block;
  }
  
  p, placeholder, input, textarea {
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  input::placeholder, textarea::placeholder {
    color: var(--primary-color);
  }
  
  input, textarea {
    color: var(--primary-color);
    font-weight: 500;
    background: var(--bg-color);
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    outline: none;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    text-transform: uppercase;
    font-weight: 300;
    background: var(--button-color);
    color: var(--bg-color);
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
  }
  
  input:hover, textarea:hover, button:hover {
    opacity: 0.5;
  }
  
  button:active {
    opacity: 0.8;
  }
  
  /* Toggle Switch */
  
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 160px;
    position: absolute;
    top: 0.5rem;
    right: 0;
  }
  
  .description {
      margin-left: 1.25rem;
    }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 26px;
    height: 26px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--button-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #error, #success-msg {
    width: 40vw;
    margin: 0.125rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: 'Jost';
    color: var(--secondary-color);
    }
  }
  
    #success-msg {
    transition-delay: 3s;
    }
  
  @media only screen and (max-width: 950px) {
    .logo {
      width: 8rem;
    }
    h1 {
      font-size: 1.75rem;
    }
    p {
      font-size: 0.7rem;
    }
    input, textarea, button {
      font-size: 0.65rem;
    }
    .description {
      font-size: 0.3rem;
      margin-left: 0.4rem;
    }
    button {
      width: 7rem;
    }
    .theme-switch-wrapper {
      width: 120px;
    }
    .theme-switch {
    height: 28px;
    width: 50px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 0.25rem;
    content: "";
    width: 20px;
    height: 20px;
    left: 0.25rem;
    position: absolute;
    transition: .4s;
  }
    input:checked + .slider:before {
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  }